@import "colors";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$input-border-radius:                   0;
$input-border-radius-lg:                0;
$input-border-radius-sm:                0;
$main-color: $light;
$font-family-base:            'Montserrat', sans-serif;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

html {
	scroll-behavior: smooth;
}

section {
	background-color: $secondary;
}

.text-faded {
	color: rgba(0, 0, 0, 0.3)
}

.footer-text {
	font-size: 12px;
	padding: 2em 5em 4em 2em;
}

#top-commentaries {
	max-height: 400px;
	overflow-y: scroll;
}

.bg-navbar {
	// background-image: linear-gradient(-0.5deg, rgba(0, 0, 0, 0) 20%, $primary 21%);
	background-color: $light;
}

.orange-r {
	color: $primary;

	padding: 1em 2em 3em 1em;

	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 5%, $info 5.1%);
}

.orange-l {
	color: $primary;

	padding: 1em 2em 3em 1em;

	background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 5%, $info 5.1%);
}

.commentary-box {
	background-image: linear-gradient(-95deg, rgba(0, 0, 0, 0) 5%, $info 5.1%);
}

span.author-name::before {
	content: "- ";
}

.full-height {
	height: 100vh;
}

#overview-wallpaper {
	background-image: url('/images/profile.jpg');

	@media screen and (orientation: landscape) {
		background-size: 100% auto;
	}

	@media screen and (orientation: portrait) {
		background-size: auto 100%;
	}
}

.presentation {
	color: $primary;
	padding: 1em 2em 3em 1em;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 10%, $info 10.1%, $info 89.9%, rgba(0, 0, 0, 0) 90%);
	text-align: center;
}

#about-intro {
	background-color: $primary;
}

#overview-decoration {
	background-image: linear-gradient(182deg, rgba(0, 0, 0, 0) 80%, $main-color 80.1%);
}

#about-wallpaper {
	background-image: url('/images/profile.jpg');

	@media screen and (orientation: landscape) {
		background-size: 100% auto;
	}

	@media screen and (orientation: portrait) {
		background-size: auto 100%;
	}
}

#skills-wallpaper {
	background-image: url('/images/profile.jpg');

	@media screen and (orientation: landscape) {
		background-size: 100% auto;
	}

	@media screen and (orientation: portrait) {
		background-size: auto 100%;
	}
}

#over-about {
	@media screen and (orientation: landscape) {
		background-image: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
		background-image: -o-linear-gradient(100deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
		background-image: linear-gradient(190deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
	}
}

#over-skills {
	@media screen and (orientation: landscape) {
		background-image: -webkit-linear-gradient(280deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
		background-image: -o-linear-gradient(280deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
		background-image: linear-gradient(10deg, rgba(0, 0, 0, 0) 95%, $main-color 95.1%, $main-color);
	}
}

#skills-intro, #commentary-intro, #hire-me-intro {
	height: 5em;
}

#skills-intro {
	background-color: $main-color;
}

#hire-me-intro {
	background-image: linear-gradient(-1deg, $main-color 30%, rgba(0, 0, 0, 0) 30.6%);
}

#commentary-intro {
	background-image: -webkit-linear-gradient(271deg, rgba(0, 0, 0, 0) 30%, $main-color 30.6%);
	background-image: -o-linear-gradient(271deg, rgba(0, 0, 0, 0) 30%, $main-color 30.6%);
	background-image: linear-gradient(1deg, rgba(0, 0, 0, 0) 30%, $main-color 30.6%);
}

#description {
	@media screen and (orientation: landscape) {
		background-image: -webkit-linear-gradient(10deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		background-image: -o-linear-gradient(10deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		background-image: linear-gradient(100deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		padding-left: 20%
	}

	@media screen and (orientation: portrait) {
		background-image: -webkit-linear-gradient(80deg, rgba(0, 0, 0, 0) 50%, $main-color 50.1%, $main-color);
		background-image: -o-linear-gradient(80deg, rgba(0, 0, 0, 0) 50%, $main-color 50.1%, $main-color);
		background-image: linear-gradient(170deg, rgba(0, 0, 0, 0) 50%, $main-color 50.1%, $main-color);
		padding-top: 50%;
	}
}

#my-skills {
	@media screen and (orientation: landscape) {
		background-image: -webkit-linear-gradient(-350deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		background-image: -o-linear-gradient(-350deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		background-image: linear-gradient(-80deg, rgba(0, 0, 0, 0) 20%, $main-color 20.1%, $main-color);
		padding-right: 20%;
	}

	@media screen and (orientation: portrait) {
		background-image: -webkit-linear-gradient(-100deg, $main-color 50%, rgba(0, 0, 0, 0) 50.1%, rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(-100deg, $main-color 50%, rgba(0, 0, 0, 0) 50.1%, rgba(0, 0, 0, 0));
		background-image: linear-gradient(-190deg, $main-color 50%, rgba(0, 0, 0, 0) 50.1%, rgba(0, 0, 0, 0));
		padding-bottom: 50%;
	}
}

@import "../../bower_components/bootstrap/scss/bootstrap.scss"
