<!DOCTYPE html>
<html lang="pt-Br" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Carlos Manuel</title>

	<script src="/libs/jquery/dist/jquery.js" charset="utf-8"></script>
	<script src="/libs/popper.js/dist/umd/popper.js" charset="utf-8"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>

	<link rel="stylesheet" href="/styles/css/theme.css">
</head>

<body>
	<!-- NAVBAR  -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- HEADER  -->
	<section class="section" id="header">
		<div class="jumbotron full-height d-flex align-items-center m-0 p-0" id="header-wallpaper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 full-height d-flex align-items-center" id="over-header"></div>
					<div class="col-md-6 full-height d-flex align-items-center" id="description">
						<div class="container bg-dark text-light">
							<p>
								Aqui eu coloco um textinho sobre mim<br>
								<br>
								dai eu coloco alguma frase de efeito de alguem famoso
								<br>
								<br>
								E lógico, tenho q mudar a cor desse negocio q ta horrivel
								<br><br>
								alias, a imagem a esquerda tem q ser uma foto do meu rosto TOP
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ABOUT -->
	<section class="section" id="about">
		<div class="container-fluid text-center" id="about-intro">
			<div class="container p-4">aaa</div>
		</div>
		<div class="container-fluid full-height" id="about-wallpaper">
			<div class="row">
				<div class="col-md-6 full-height d-flex align-items-center" id="my-skills">
					<div class="container bg-dark text-light">
						<p>
							AQUI VAI TER UMA LISTONA TOP DAS MINHAS HABILIDADES
							<br>
							<br>
							eu te amo NICOLINDA
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- COMMENTARY -->
	<section class="section" id="commentary">
		<div class="container-fluid text-center" id="commentary-intro">
			<div class="container p-4">aaaaaaaaa</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 border-right border-dark">
					<div class="container">
						<div class="row rounded border boder-dark p-3 m-3 bg-light text-dark">aaaa</div>
						<div class="row rounded border boder-dark p-3 m-3 bg-light text-dark">aaaa</div>
						<div class="row rounded border boder-dark p-3 m-3 bg-light text-dark">aaaa</div>
						<div class="row rounded border boder-dark p-3 m-3 bg-light text-dark">aaaa</div>
						<div class="row rounded border boder-dark p-3 m-3 bg-light text-dark">aaaa</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="container">
						<form action="" class="m-3">
							<div class="form-group">
								<input type="text" class="form-control" name="author" id="author" aria-describedby="authorHelp" placeholder="Enter your name here.">
								<small id="authorHelp" class="form-text text-muted">It doesn't have to be your real name.</small>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter your email here.">
								<small id="emailHelp" class="form-text text-muted">You will receive a confirmation email.</small>
							</div>
							<div class="form-group">
								<textarea name="content" id="commentary-content" cols="30" rows="3" class="form-control" placeholder="Type your commentary here"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>